     html{
         scroll-behavior: smooth;
      }
        
      body{
           scroll-behavior: smooth;
           background-color:white;
           font-family: 'Asap';
        }

         .size{
          font-family: "Merienda", serif;
         }
         
         .move:hover {
          transform: translate(0, -0.5rem) scale(1);
          box-shadow: 0 6px 19px rgb(222, 217, 217);
          transition: transform 0.4s ease-out, box-shadow 0.4s ease-out;
         }

        .anime-pack{
            animation: fade-in linear forwards;
            animation-timeline: view();
            animation-range: entry 20% cover 40%;
            }
         
            .move-back{
              animation: move 1s linear infinite;
              background-image: linear-gradient(to right,white , black);
              background-clip: text;
              color: transparent;
            }
      @keyframes fade-in {
            from {
                opacity: 0;
                transform: translateY(50px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

      @keyframes move {
          to{
            background-position: 100rem;
        }
      }

      @keyframes action {
        0%{
          transform:translate(0,0)
        }
        50%{
          transform: translate(0,20px);
        }

        100%{
          transform: translate(0,-20px);
        }
      }
      
      .apelle{
        animation: action 3s linear infinite;
      }

      .background-gradient{
        background-color: transparent;
        border: none;
        box-shadow:0 0 10px rgb(203, 197, 197);
      }

        button.scroll-down svg{
          animation: move 0.6s linear infinite;
        }
        .row-2{
          display: flex;
        }